

#login-view
{
  margin: 5px;
  background-color: rgba(241, 241, 241, 0.9);
  border: 0px;
  border-radius: 30px;
  padding: 1rem;
  backdrop-filter: blur(5px);
}

#login-form
{
  width: 100%;
  display: flex;
  flex-direction: column;
}
