#login-view
{
  margin: 5px;
  background-color: rgba(241, 241, 241, 0.8);
  border: 0px;
  border-radius: 30px;
  padding: 1rem;
  backdrop-filter: blur(2);
}

#login-form
{
  width: 100%;
  display: flex;
  flex-direction: column;
}
