<div class="header">
    <header>Almacén Telemática</header>
  </div>
  <div id="logos">
    <div style="display: flex; align-items: center;">
      <img typeof="foaf:Image" style="height: 100%;"
        src="https://www.policia.gov.co/sites/default/files/escudo-policia.png" alt="Inicio">

      <img typeof="foaf:Image" id="mindefensa" style="height: 100%;"
        src="https://www.policia.gov.co/sites/default/files/seguridad_de_todos.png" alt="">
    </div>
    <div>
      <img style="height: 100%;" src="assets/logoInt.png" alt="">
</div>