<body class="viewportbody">
    <div class="viewportheader">
        <button class="bluebutton" routerLink="..">
            <span class="buttonText">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                </svg>
                Volver
            </span>
        </button>

        <h2>Nuevo Grado</h2>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
        <div class="container" style="width: 80%;">
            <form [formGroup]="fgGradoValidator" (ngSubmit)="saveGrado()" style="display: flex; flex-direction: column; ">
    
                <div class="container-column">
                    <div class="container-element-Centered">

                        <div class="form__group field">    
                            <input formControlName="nombreGrado" type="input" class="form__field" placeholder="nombreGrado" name="nombreGrado" id='nombreGrado' required />
                            <label for="nombreGrado" class="form__label">Nombre Grado</label>
                        </div>
                        
                        <div style="padding: 1rem;">
                            <button [disabled]="!fgGradoValidator.valid" class="bluebutton" type="submit" name="action">
                                <span class="buttonText" style="padding-right:1rem;">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                    Crear
                                </span>  
                            </button>
                        </div>
                        
                    </div>
                </div>
            </form>      
        </div>
    </div>
</body>