<body class="viewportbody">
    <div class="viewportheader">
        <button class="bluebutton" routerLink="..">
            <span class="buttonText">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                </svg>
                Volver
            </span>
        </button>

        <h2>Nuevo Elemento</h2>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
        <div class="container" style="width: 80%;">
            <form [formGroup]="fgFuncionarioValidator" (ngSubmit)="saveFuncionario()" style="display: flex; flex-direction: column; ">
    
                <div class="container-column">
                    <div class="container-element-Centered">

                        <div class="form__group field">    
                            <input formControlName="cedula" type="input" class="form__field" placeholder="cedula" name="cedula" id='cedula' required />
                            <label for="cedula" class="form__label">Cedula</label>
                        </div>

                        <div class="form__group field">    
                            <input formControlName="placa" type="input" class="form__field" placeholder="placa" name="placa" id='placa' required />
                            <label for="placa" class="form__label">Placa</label>
                        </div>
                        
                        <div class="form__group field">
                            <input formControlName="nombre" type="input" class="form__field" placeholder="nombre" name="nombre" id='nombre' required />
                            <label for="nombre" class="form__label">Nombre</label>
                        </div>
                        
                        <div class="form__group field">
                            <input formControlName="apellidos" type="input" class="form__field" placeholder="apellidos" name="apellidos" id='apellidos' required />
                            <label for="apellidos" class="form__label">Apellidos</label>
                        </div>
                        
                        
                        <div class="form__group field" style="align-self: center;">
                            <input formControlName="password" type="input" class="form__field" placeholder="password" name="password" id='password' required />
                            <label for="password" class="form__label">Contraseña</label>
<!--                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>   --> <!-- #TODO Implementar un switch para mostrar y ocultar la contraseña -->
                            <span  style="color: var(--bg-secondary); font-size: 0.8rem;">La contraseña debe contener minimo 8 caracteres y al menos una mayuscula, minuscula, un numero y un caracter especial</span>
                        </div>
                    </div>
                    
                    <div class="container-element-Centered">            

                        <div class="form__group field">
                            <input formControlName="telefono" type="input" class="form__field" placeholder="telefono" name="telefono" id='telefono' required />
                            <label for="telefono" class="form__label">Telefono</label>
                        </div>
                        
                        <div class="form__group field">
                            <label for="rol" class="form__label">Rol</label>
                            <select formControlName="rol" class="form__field" placeholder="rol" name="rol" id='rol' required>
                                <option value=""> Rol </option>
                                <option value="admin"> Administrador </option>
                                <option value="funcionario"> Funcionario </option>
                            </select>
                        </div>
                        
                        <div class="form__group field">
                            <label for="grado" class="form__label">Grado</label>
                            <select formControlName="grado" class="form__field" placeholder="grado" name="grado" id='grado' required>
                                <option value=""> Grado </option>
                                <option *ngFor="let p of gradoList" value="{{p.id}}">{{p.nombreGrado}}</option>
                            </select>
                        </div>
                        
                        <div class="form__group field">
                            <label for="dependencia" class="form__label">Dependencia</label>
                            <select  formControlName="dependencia" class="form__field" placeholder="dependencia" name="dependencia" id='dependencia' required>
                                <option value="">Dependencia</option>
                                <option *ngFor="let p of dependenciaList" value="{{p.id}}">{{p.nombreDependencia}}</option>
                            </select>
                        </div>
                        
                        
                        <div style="padding: 1rem;">
                            <button [disabled]="!fgFuncionarioValidator.valid" class="bluebutton" type="submit" name="action">
                                <span class="buttonText" style="padding-right:1rem;">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                    Crear
                                </span>  
                            </button>
                        </div>

                    </div>
                </div>
            </form>      
        </div>
    </div>
</body>