<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
   	<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
   	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	  
<section id="contact">
						
			<style type=text/css>
			
			@import url('https://fonts.googleapis.com/css?family=Numans');
			
			.content-header{
			font-family: 'Numans', sans-serif;
			color:#39ff14;
			font-size: 40px;
			}
			
			.section-content{
			text-align: center;
			}
			
			#contact{
			font-family: 'Numans', sans-serif;
			padding-top: 40px;
			width: 100%;
			width: 100vw;
			height: 550px;
			color : #000;
			}
			
			.contact-section{
			padding-top: 40px;
			}
			
			.contact-section .col-md-6{
			width: 100%;
			}
			
			.form-line{
			border-right: 1px solid #B29999;
			}
			
			.form-group{
			margin-top: 10px;
			width : 100%;
			}
			
			label{
			font-size: 1.3em;
			line-height: 1em;
			font-weight: normal;
			}
			
			.form-control{
			font-size: 1.3em;
			color: #080808;
			}
			
			textarea.form-control{
			height: 135px;
			}
			
			.submit{
			font-size: 1.1em;
			float: right;
			width: 150px;
			background-color: transparent;
			color: #000;
			}
			
			</style>
						
			<div class="section-content">
				<h1></h1>
				<h3></h3>
			</div>
			<div class="contact-section">
			<div class="container">
				<form>
						<div class="col-md-6">
			  			<div class="form-group">
			  				<label for ="description"> Observaciones del elemento entregado</label>
			  			 	<textarea  class="form-control" id="description" placeholder="Escriba las observaciones aqui"></textarea>
			  			</div>
			  			<div>

			  				<button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Aceptar</button>
			  			</div>
			  			
					</div>
				</form>
			</div>
		</section>